.login-form {
  width: 100vw;
  height: 100vh;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
  width: 85%;
  max-width: 50rem;
  height: 30rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.14), 0 4px 5px 0 rgba(0,0,0,.12), 0 1px 10px 0 rgba(0,0,0,.20);
}

.login-form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form-body > * {
  margin: 1rem 0;
}

.login-form-label {
  display: flex;
  align-items: center;
  max-width: 80%;
  flex-wrap: wrap;
}

.login-form--input,
.login-form--btn {
  padding: 1rem;
  border: 0;
  outline: none;
}

.login-form--input {
  order: 1;
  flex-grow: 1;
}

.login-form-label--icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
  stroke-dasharray: 0, 100;
  stroke-dashoffset: -14.142;
}
.login-form-label--icon path {
  stroke: var(--black);
  stroke-width: 2px;
  fill: none;
}
.login-form--input:focus + .login-form-label--icon {
  stroke-dasharray: 28.284, 100;
  stroke-dashoffset: 0;
}

.login-form--border {
  width: 100%;
  order: 2;
  stroke: #cccccc;
  height: 2px;
  margin-left: 1.5rem;
}
.login-form--border-focus,
.login-form--border-valid,
.login-form--border-invalid {
  transition: all 0.2s;
  stroke-dasharray: 0, 40;
  stroke-dashoffset: 0;
}
.login-form--border-focus {
  stroke: var(--black);
}
.login-form--border-valid {
  stroke: #4caf50;
}
.login-form--border-invalid {
  stroke: #d32f2f;
}
.login-form--input:focus ~ .login-form--border .login-form--border-focus,
.login-form--input:valid ~ .login-form--border .login-form--border-valid {
/*.login-form--input:valid ~ .login-form--border .login-form--border-invalid {*/
  stroke-dasharray: 40, 0;
}